<odoo>
    <data>
        <!-- Root Menu -->
        <menuitem id="menu_equipment_management" name="Equipment Management" sequence="100"/>

        <!-- Sub-menu for Equipments -->
        <menuitem id="menu_equipment" name="Equipments" parent="menu_equipment_management" action="action_equipment_item" sequence="10"/>

        <!-- Sub-menu for Assignments -->
        <menuitem id="menu_assignment" name="Assignments" parent="menu_equipment_management" action="action_equipment_assignment" sequence="20"/>
    </data>
</odoo>
